// 空色
$color-hinata: #7cc7e8;
// オレンジ
$color-orange: orange;
// 薄いグレー
$color-glay: #6d6e70;

// ベースカラー
$base-color: $color-hinata;
// 文字色
$text-color: $color-glay;
// Newラベルの背景色
$label-new-background-color: $color-orange;
