// 空色
$color-hinata: #7cc7e8;
// オレンジ
$color-orange: orange;
// 薄いグレー
$color-glay: #6d6e70;
// 白
$color-white: white;
// 黒
$color-black: black;

// primary
$color-primary: #007bff;
// secondary
$color-secondary: #6c757d;
// success
$color-success: #28a745;
// danger
$color-danger: #dc3545;
// warning
$color-warning: #ffc107;
// info
$color-info: #17a2b8;
// light
$color-light: #f8f9fa;
// dark
$color-dark: #343a40;

// フラッシュメッセージ
// primary
$flash-message-color-primary: #004085;
$flash-message-background-color-primary: #cce5ff;
$flash-message-border-color-primary: #b8daff;
// secondary
$flash-message-color-secondary: #383d41;
$flash-message-background-color-secondary: #e2e3e5;
$flash-message-border-color-secondary: #d6d8db;
// success
$flash-message-color-success: #155724;
$flash-message-background-color-success: #d4edda;
$flash-message-border-color-success: #c3e6cb;
// danger
$flash-message-color-danger: #721c24;
$flash-message-background-color-danger: #f8d7da;
$flash-message-border-color-danger: #f5c6cb;
// warning
$flash-message-color-warning: #856404;
$flash-message-background-color-warning: #fff3cd;
$flash-message-border-color-warning: #ffeeba;
// info
$flash-message-color-info: #0c5460;
$flash-message-background-color-info: #d1ecf1;
$flash-message-border-color-info: #bee5eb;
// light
$flash-message-color-light: #818182;
$flash-message-background-color-light: #fefefe;
$flash-message-border-color-light: #fdfdfe;
// dark
$flash-message-color-dark: #fff;
$flash-message-background-color-dark: #343a40;
$flash-message-border-color-dark: #343a40;

// ベースカラー
$base-color: $color-hinata;
// 文字色
$text-color: $color-glay;
