// 空色
$color-hinata: #7cc7e8;
// オレンジ
$color-orange: orange;
// 薄いグレー
$color-glay: #6d6e70;

// primary
$button-color-primary: #004085;
$button-background-color-primary: #cce5ff;
$button-border-color-primary: #b8daff;
// secondary
$button-color-secondary: #383d41;
$button-background-color-secondary: #e2e3e5;
$button-border-color-secondary: #d6d8db;
// success
$button-color-success: #155724;
$button-background-color-success: #d4edda;
$button-border-color-success: #c3e6cb;
// danger
$button-color-danger: #721c24;
$button-background-color-danger: #f8d7da;
$button-border-color-danger: #f5c6cb;
// warning
$button-color-warning: #856404;
$button-background-color-warning: #fff3cd;
$button-border-color-warning: #ffeeba;
// info
$button-color-info: #0c5460;
$button-background-color-info: #d1ecf1;
$button-border-color-info: #bee5eb;
// light
$button-color-light: #818182;
$button-background-color-light: #fefefe;
$button-border-color-light: #fdfdfe;
// dark
$button-color-dark: #1b1e21;
$button-background-color-dark: #d6d8d9;
$button-border-color-dark: #c6c8ca;

// ベースカラー
$base-color: $color-hinata;
// 文字色
$text-color: $color-glay;
// Newラベルの背景色
$label-new-background-color: $color-orange;
